################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Phonebook.Data/packages
/Phonebook.Data/.vs/Phonebook.Data/v14
/.vs
/Phonebook.Data/Phonebook.Data/bin/Debug
/Phonebook.Data/Phonebook.Data/obj
/Phonebook.Data/Phonebook.Data.Tests/bin/Debug
/Phonebook.Data/Phonebook.Data.Tests/obj
/Phonebook.Domain/.vs/Phonebook.Domain/v14
/Phonebook.Domain/packages
/Phonebook.Domain/Phonebook.Domain/bin/Debug
/Phonebook.Domain/Phonebook.Domain/obj
/Phonebook.Domain/Phonebook.Domain.Tests/bin/Debug
/Phonebook.Domain/Phonebook.Domain.Tests/obj
/Phonebook.WebApi/.vs
/Phonebook.WebApi/packages
/Phonebook.WebApi/Phonebook.WebApi/bin
/Phonebook.WebApi/Phonebook.WebApi/obj
/Phonebook.WebApi/Phonebook.WebApi.Tests/obj
/Phonebook.WebApi/Phonebook.WebApi.Tests/bin/Debug
/Phonebook.WebApi/Phonebook.WebApi.Tests/bin/Debug
/Phonebook.WebApi/Phonebook.WebApi.Tests/bin/Debug
/Phonebook.TestTools/.vs/Phonebook.TestTools/v15
/Phonebook.TestTools/packages
/Phonebook.TestTools/Phonebook.TestTools/bin/Debug
/Phonebook.TestTools/Phonebook.TestTools/obj
/Phonebook.Data/.vs/Phonebook.Data/v15/sqlite3/storage.ide
/Phonebook.Data/.vs/Phonebook.Data/v15/.suo
