<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="identityServerConnString" value="Data Source=.;Initial Catalog=IdentityStore;User Id=sa;Password=Password123"/>
        <add key="phonebookConnString" value="Data Source=.;Initial Catalog=PhonebookTests;User Id=sa;Password=Password123"/>
    </appSettings>
</configuration>